<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.RolesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.entity.Roles">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="created_time" property="createdTime" />
        <result column="modified_time" property="modifiedTime" />
        <result column="created_user" property="createdUser" />
        <result column="modified_user" property="modifiedUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, created_time, modified_time, created_user, modified_user
    </sql>
    <!-- 添加 -->

    <!-- 基于菜单id获取权限标识 -->
    <select id="findPermissions"
            resultType="string">
        select permission <!-- sys:user:update -->
        from roles
        where id in
        <foreach collection="roleIds"
                 open="("
                 close=")"
                 separator=","
                 item="item">
            #{item}
        </foreach>
    </select>
</mapper>
